/* UsersAdmin.css */

.usersAdmin-body {
  width: 1200px;
  margin: 0 auto;

  & button{
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    padding:5px;
    margin: 0 5px;
    min-width: 35px;
    text-transform: uppercase;
    font-weight: 400;
  }
    .edit{
      background-color: rgba(255  , 255, 0, 0.5);
    }
    .delete{background-color: rgba(255, 0, 0, 0.3);}
    .yes{
      background-color: rgba(255, 0, 0, 0.3);
    }
    .no{
      background-color: rgba(0, 255, 0, 0.3);
    }
  

  .usersAdmin-div-table {
    padding: 10px;

    .table {
      width: 100%;
      border-collapse: collapse;

      & th,
      & td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }
      /* & th{
        background-color: #f2f2f2;
      } */

      .table__head {
        & tr {
          text-transform: uppercase;
          color: black;
          border-bottom: 3px solid black;
          /* background-color: rgba(78, 194, 194, 0.5); */
          /* background: linear-gradient(45deg,#4EC2C2,#298D68,#BA1E4F,#E0824C); */
          background: linear-gradient(
            90deg,
            rgba(78, 194, 194, 0.2),
            rgba(41, 141, 104, 0.2),
            rgba(186, 30, 79, 0.2),
            rgba(224, 130, 76, 0.2)
          );
        }
      }
      .table__body {
        & tr:nth-child(even) {
          background-color: #ddd;
        }
        & tr {
          text-transform: capitalize;
        }
        
      }
    }
  }
}
.input {
  background-color: #f2f2f2; /* Cambia el color de fondo a tu elección */
  border: 1px solid #ccc; /* Agrega un borde */
  padding: 5px; /* Añade espacio entre el texto y el borde */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra */
  transition: box-shadow 0.3s; /* Agrega una transición de sombra al pasar el mouse */
  cursor: pointer;
}
.input-container {
  /* border: 1px solid green; */
  display: flex; /* Hace que cada campo ocupe una línea completa */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /*Añade espacio entre los campos */
  padding: 5px;
}
 .container-form {
  /* border: 1px solid red;  */
  /* padding: 10px;  */
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.parent {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.field-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: rgba(186, 30, 79, 1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}
.button-light {
  background-color: rgba(186, 30, 79, 0.7); /* color de fondo más claro */
  color: #fff;
  border: none;
  padding: 5px 10px; /* padding más pequeño */
  font-size: 14px; /* tamaño de fuente más pequeño */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-light:hover {
  background-color: rgba(224, 130, 76, 0.7); /* Cambia a tu color deseado */
}

.button-light:active {
  background-color: rgba(41, 141, 104, 0.7);
}
.button-2{
  background-color: rgba(227, 101, 141, 0.5); /* color de fondo más claro */
  color: #fff;
  border: none;
  padding: 5px 10px; /* padding más pequeño */
  font-size: 14px; /* tamaño de fuente más pequeño */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}
.button-2:hover {
  background-color: rgba(224, 130, 76, 0.5); /* Cambia a tu color deseado */
}

.button-2:active {
  background-color: rgba(41, 141, 104, 0.5);
}
.button:hover {
  background-color: rgba(224, 130, 76, 1); /* Cambia a tu color deseado */
}
.button:active {
  background-color: rgba(41, 141, 104, 1);
}
.categoria {
  padding-bottom: 2px;
}
.login{
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imput{
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* width: 50%; */

}
.op {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%; /* en móviles, queremos que el div ocupe todo el ancho */
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4); /* Agrega una sombra */
  box-sizing: border-box; /* para que el padding y el borde no aumenten el tamaño del div */
  margin: auto; /* para centrar el div */
  margin-bottom: 30px;
}

/* Cuando la pantalla es de al menos 600px de ancho */
@media (min-width: 600px) {
  .op {
    width: 33.33%; /* en pantallas más grandes, el div ocupará 1/3 del ancho */
  }
}
.image {
  width: 100%; /* para que la imagen ocupe todo el ancho del div */
  height: auto; /* para mantener la proporción de la imagen */
  padding: 20px;
}
.modal-image{
  width: 100%;
  height: auto;
  justify-content: center;
}
.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 5px;
  margin: 5px;
  color: #fff;
  border-radius: 5px;
}



.opImage{
  height: 300px;
}
.opImageMini{
  height: 50px;
}
/*
.users-admin {
  font-family: 'Arial', sans-serif;
  margin: auto;
  text-align: center;
  width: 80%;
}

.users-admin__title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.users-admin__button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-admin__button:hover {
  background-color: #0056b3;
}

.users-admin__search {
  margin-bottom: 20px;
}

.users-admin__table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.users-admin__table {
  width: 100%;
  overflow-x: auto;
}

.users-admin__table table {
  width: 100%;
  border-collapse: collapse;
}

.users-admin__table th,
.users-admin__table td {
  padding: 12px;
  text-align: left;
}

.users-admin__table-actions button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.users-admin__table-actions button:hover {
  background-color: #1e7e34;
}

.users-admin__table-delete-button {
  background-color: #dc3545;
}

.users-admin__table-delete-button:hover {
  background-color: #c82333;
}

.users-admin__table-delete-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-admin__table-delete-confirmation span {
  margin-bottom: 10px;
  font-weight: bold;
  color: #dc3545;
  font-size: 16px;
}

.users-admin__table-delete-confirmation-yes-button {
  background-color: #dc3545;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-admin__table-delete-confirmation-yes-button:hover {
  background-color: #c82333;
}

.users-admin__table-delete-confirmation-no-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-admin__table-delete-confirmation-no-button:hover {
  background-color: #0056b3;
}*/

/* body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: impact, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
 
  .admin-header{
    background-color: #75085f ;
    color: #ffffff ;
    padding: 20px;
    text-align: center;
  }
  
  .botones {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: 2px #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    list-style: none;
  }
 */

/* .botones:hover {
    display: inline-block;
    padding: 10px 20px;
    background-color: #66ff00 ;
    color: #fff;
    border: none;
    list-style: none;
    background-color: #005rgb(220, 204, 28)
  }

  

  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  ul {
    list-style: none;
  }
  
  
  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  
  @media (max-width: 768px) {
   
  }

  
   */
