/* UsersAdmin.css */

.usersAdmin-body {
  width: 1200px;
  margin: 0 auto;
}

.usersAdmin-body button {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  min-width: 35px;
  text-transform: uppercase;
  font-weight: 400;
}

.usersAdmin-body .edit {
  background-color: rgba(255, 255, 0, 0.5);
}

.usersAdmin-body .delete {
  background-color: rgba(255, 0, 0, 0.3);
}

.usersAdmin-body .yes {
  background-color: rgba(255, 0, 0, 0.3);
}

.usersAdmin-body .no {
  background-color: rgba(0, 255, 0, 0.3);
}

.usersAdmin-div-table {
  padding: 10px;
}

.usersAdmin-div-table .table {
  width: 100%;
  border-collapse: collapse;
}

.usersAdmin-div-table .table th,
.usersAdmin-div-table .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.usersAdmin-div-table .table__head tr {
  text-transform: uppercase;
  color: black;
  border-bottom: 3px solid black;
  background: linear-gradient(90deg,
    rgba(78, 194, 194, 0.2),
    rgba(41, 141, 104, 0.2),
    rgba(186, 30, 79, 0.2),
    rgba(224, 130, 76, 0.2));
}
.lapsus{
  text-transform: lowercase;
}

.usersAdmin-div-table .table__body tr:nth-child(even) {
  background-color: #ddd;
}



.fecha {
  text-align: right;
  color: rgb(81, 81, 81);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: rgba(186, 30, 79, 1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-light {
  background-color: rgba(186, 30, 79, 0.7);
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-light:hover {
  background-color: rgba(224, 130, 76, 0.7);
}

.button-light:active {
  background-color: rgba(41, 141, 104, 0.7);
}

.button-2 {
  background-color: rgba(227, 101, 141, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.button-2:hover {
  background-color: rgba(224, 130, 76, 0.5);
}

.button-2:active {
  background-color: rgba(41, 141, 104, 0.5);
}

.button:hover {
  background-color: rgba(224, 130, 76, 1);
}

.button:active {
  background-color: rgba(41, 141, 104, 1);
}

.categoria {
  padding-bottom: 2px;
}

.login {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imput {
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.op {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 90%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .op {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .user-page-div {
    width: 60%;
    margin: auto;
  }
}

.image {
  height: 200px;
  padding: 20px;
}

.modal-image {
  width: 100%;
  height: auto;
  justify-content: center;
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(186, 30, 79, 0.7);
  color: #fff;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-close:hover {
  background-color: rgba(224, 130, 76, 0.7);
}

.button-close:active {
  background-color: rgba(41, 141, 104, 0.7);
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  padding: 5px;
  margin: 5px;
  color: #fff;
  border-radius: 5px;
}

.opImage {
  height: 100%;
}

.opImageMini {
  height: 50px;
}

